body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  line-height: 2;
  margin: 50px auto 0 auto;
  color: #6a492b;
}

h2 {
  color: #a05344;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h3 {
  color: #e79e4f;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #a05344;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #e79e4f;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 10%;
  margin: 100px auto;
}

.top-container {
  background-color: #d6efc7;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 270px;
  bottom: 350px;
}

.h2-top {
  color: #6a492b;
  font-weight: normal;
  margin-top: 0;
}

.middle-container {
  margin: 100px 0;
}

.intro {
  width: 40%;
  margin: auto;
}

.skill-row {
  margin: 50px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.web-dev {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.uav {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #045762;
  background-image: -webkit-linear-gradient(top, #045762, #296c99);
  background-image: -moz-linear-gradient(top, #045762, #296c99);
  background-image: -ms-linear-gradient(top, #045762, #296c99);
  background-image: -o-linear-gradient(top, #045762, #296c99);
  background-image: linear-gradient(to bottom, #045762, #296c99);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #028c9e;
  background-image: -webkit-linear-gradient(top, #028c9e, #408bbd);
  background-image: -moz-linear-gradient(top, #028c9e, #408bbd);
  background-image: -ms-linear-gradient(top, #028c9e, #408bbd);
  background-image: -o-linear-gradient(top, #028c9e, #408bbd);
  background-image: linear-gradient(to bottom, #028c9e, #408bbd);
  text-decoration: none;
}

.bottom-container {
  background-color: #d6efc7;
  padding: 50px 0 20px;
}

.copyright {
  color: #a05344;
  padding: 10px 0;
}
